<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="submitForm">
        <input type="text" id="cpf" maxlength="14">
        <input type="text" id="cnpj" maxlength="18">
        <input type="text" id="telefone" maxlength="15">
        <button type="submit">Enviar</button>
    </form>

    <form id="loginForm" method="POST">
        <input type="text" name="nome" maxlength="50" placeholder="Nome">
        <input type="password" name="senha" maxlength="14" placeholder="CPF como senha">
        <button type="submit">Login</button>
    </form>

</body>
</html>